<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <div ng-init="getAllBookings()" class="table-responsive">

        <div>
            <input type="text" ng-model="search_filter" placeholder="Search" ng-change="getBooking()" />
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Booking Id</th>
                <th>RoomType</th>
                <th>MealType</th>
                <th>CheckInTime</th>
                <th>CheckOutTime</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="item in result | filter:search_filter">
                <td>{{ item.bookingId }}</td>
                <td>{{ item.roomType }}</td>
                <td>{{ item.mealType }}</td>
                <td>{{ item.checkInTime }}</td>
                <td>{{ item.checkOutTime }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <a href="#/edit/{{item.bookingId}}" class="glyphicon glyphicon-edit"></a>
                </td>
                <td>
                    <a href="#/delete/{{item.bookingId}}" ng-click="deleteBooking(item.bookingId)" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn">Add New Booking</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">RoomType:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="roomType" placeholder="RoomType" ng-model="roomType">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">MealType:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="mealType" placeholder="MealType" ng-model="mealType">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">CheckInTime:</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="checkInTime" placeholder="CheckInTime" ng-model="checkInTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">CheckOutTime:</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="checkOutTime" placeholder="CheckOutTime" ng-model="checkOutTime">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Price:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="price" placeholder="Price" ng-model="price">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="submit" class="form-control btn-space" value="Submit" ng-click="addBooking()" />
                    </div>
                    <div class="col-sm-6 col-lg-4">
                            <input type="button" id="update" class="form-control btn-space" value="Update" ng-click="updateBooking()" />
                        </div>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $http) {
            //Get All Bookings
            $scope.getAllBookings = function () {
                $http({
                    method: "get",
                    url: "http://localhost:1234/booking"
                }).then(function (response) {
                    $scope.result = response.data;
                }, function () {
                    alert("Error Occur");
                });
            };

            //Get Booking
            $scope.getBooking = function () {
                $http({
                    method: "get",
                    url: "http://localhost:1234/booking/" + $scope.search_filter
                }).then(function (response) {
                    $scope.result = response.data;
                }, function () {
                    alert("Error Occur");
                    console.log();
                });
            };

            //Delete Booking By Booking ID
            $scope.deleteBooking = function (id) {
                var request = $http({
                    method: "delete",
                    url: "http://localhost:1234/booking/" + id
                }).then(function (response) {
                    $scope.getAllBookings();
                });
            };

            //Add New Booking
            $scope.addBooking = function () {
                $scope.Booking = {};
                $scope.Booking.RoomType = $scope.roomType;
                $scope.Booking.MealType = $scope.mealType;
                $scope.Booking.CheckInTime = $scope.checkInTime;
                $scope.Booking.CheckOutTime = $scope.checkOutTime;
                $scope.Booking.Price = $scope.price;
                $http({
                    method: "post",
                    url: "http://localhost:1234/booking",
                    data: JSON.stringify($scope.Booking)
                }).then(function (response) {
                    $scope.getAllBookings();
                    $scope.roomType = "";
                    $scope.mealType = "";
                    $scope.checkInTime = "";
                    $scope.checkOutTime = "";
                    $scope.price = "";
                })
            };

            $scope.updateBooking = function (Emp) {
                $scope.Booking = {};
                $scope.Booking.RoomType = $scope.roomType;
                $scope.Booking.MealType = $scope.mealType;
                $scope.Booking.CheckInTime = $scope.checkInTime;
                $scope.Booking.CheckOutTime = $scope.checkOutTime;
                $scope.Booking.Price = $scope.price;
                $http({
                    method: "put",
                    url: "http://localhost:1234/booking/update"+ id,
                    data: JSON.stringify($scope.Booking)
                }).then(function (response) {
                    $scope.getAllBookings();
                    $scope.roomType = "";
                    $scope.mealType = "";
                    $scope.checkInTime = "";
                    $scope.checkOutTime = "";
                    $scope.price = "";
                })
            }
        });
    </script>
</body>

</html>