﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Booking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl"  style="background-image:url('hotel-wallpaper.jpg');">
    <div ng-init="getAllBookings()">
        <!-- <img class="bg-image" src="hotel-wallpaper.jpg"> -->
        <div class="search-position">
            <input type="text" ng-model="searchFilter" placeholder="Search" ng-change="getBooking()" />
        </div>
        <table class="table table-bordered">
            <tr class="tr-header">
                <th>Booking Id</th>
                <th>Room Type</th>
                <th>Meal Type</th>
                <th>Check-In Time</th>
                <th>Check-Out Time</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="item in result | filter:searchFilter">
                <td>{{ item.bookingId }}</td>
                <td>{{ item.roomType }}</td>
                <td>{{ item.mealType }}</td>
                <td>{{ item.checkInTime }}</td>
                <td>{{ item.checkOutTime }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <a href="#/edit/{{item.bookingId}}" class="glyphicon glyphicon-edit" ng-click="OpenUpdateScreen(item.bookingId)" data-toggle="modal" data-target="#myModal"></a>
                </td>
                <td>
                    <a href="#/delete/{{item.bookingId}}" class="glyphicon glyphicon-trash" ng-click="deleteBooking(item.bookingId)"></a>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-info btn-lg, button-position" ng-click="ShowHide(false)" data-toggle="modal" data-target="#myModal">New Booking</button>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog  modal-custom">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" ng-hide="IsVisible">New Booking</h2>
                        <h2 class="modal-title"ng-show="IsVisible">Update Booking</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" role="form">
                            <div class="container">
                                    <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label ng-show="IsVisible">Booking Id: {{id}}</label>
                                                </div>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="roomType" placeholder="RoomType" ng-model="roomType">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="mealType" placeholder="MealType" ng-model="mealType">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="checkInTime" placeholder="CheckInTime" ng-model="checkInTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="checkOutTime" placeholder="CheckOutTime" ng-model="checkOutTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="price" placeholder="Price" ng-model="price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">                   
                            <input type="button" id="submit" class="form-control btn-space" value="Submit" ng-click="addBooking()" ng-hide="IsVisible" data-dismiss="modal"
                            />
                            <input type="button" id="update" class="form-control btn-space" value="Update" ng-click="updateBooking(id)" ng-show="IsVisible" />  
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="app.js"></script>
</body>

</html>