.bg-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
} 
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400;
}
.button-position{
    position: absolute;
    top: 8px;     
    right: 50px;  
}
.input[type="text"],input[type="number"],input[type="date"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.modal-custom{
    width: 330px;
    margin: auto;
}
.modal-header{
    background-color: lightsalmon
}
.search-position{
  
    position: absolute;
    top: 14px;     
}
.table-bordered{
    
        position: absolute;
        top: 50px;     
        /* color: white; */
        background-color: white;
        color: black;
        align-self: top;
}
.tr-header {
    color: grey;
    /* -webkit-text-stroke-color: grey */
  }
tr:hover {background-color: lightsalmon;}
